### Preprocessing ###

In [7]:
import pandas as pd
input_file ='globalterrorismdb_0718dist.xlsx'
input = pd.read_excel(input_file)

In [8]:
input.shape

(181691, 135)

In [9]:
input.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [10]:
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        df[cat] = le.fit_transform(df[cat].astype(str))
        '''
        output = X.copy() 
        if self.columns is not None:
            for col in self.columns:
                #output[col] = LabelEncoder().fit_transform(output[col])
                output[col] = LabelEncoder().fit_transform(output[col].astype(str))
        else:
            for colname,col in output.iteritems():
                #output[colname] = LabelEncoder().fit_transform(col)
                output[colname] = LabelEncoder().fit_transform(col.astype(str))
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [11]:
input['targtype1_txt'].value_counts()

Private Citizens & Property       43511
Military                          27984
Police                            24506
Government (General)              21283
Business                          20669
Transportation                     6799
Utilities                          6023
Unknown                            5898
Religious Figures/Institutions     4440
Educational Institution            4322
Government (Diplomatic)            3573
Terrorists/Non-State Militia       3039
Journalists & Media                2948
Violent Political Party            1866
Airports & Aircraft                1343
Telecommunication                  1009
NGO                                 970
Tourists                            440
Maritime                            351
Food or Water Supply                317
Abortion Related                    263
Other                               137
Name: targtype1_txt, dtype: int64

In [12]:
input['attacktype1_txt'].value_counts()

Bombing/Explosion                      88255
Armed Assault                          42669
Assassination                          19312
Hostage Taking (Kidnapping)            11158
Facility/Infrastructure Attack         10356
Unknown                                 7276
Unarmed Assault                         1015
Hostage Taking (Barricade Incident)      991
Hijacking                                659
Name: attacktype1_txt, dtype: int64

In [13]:
input['imonth'].value_counts()

5     16875
7     16268
8     15800
10    15563
6     15359
3     15257
4     15152
1     14936
11    14906
9     14180
2     13879
12    13496
0        20
Name: imonth, dtype: int64

In [14]:
input['region_txt'].value_counts()

Middle East & North Africa     50474
South Asia                     44974
South America                  18978
Sub-Saharan Africa             17550
Western Europe                 16639
Southeast Asia                 12485
Central America & Caribbean    10344
Eastern Europe                  5144
North America                   3456
East Asia                        802
Central Asia                     563
Australasia & Oceania            282
Name: region_txt, dtype: int64

In [15]:
input['country_txt'].value_counts()

Iraq                              24636
Pakistan                          14368
Afghanistan                       12731
India                             11960
Colombia                           8306
Philippines                        6908
Peru                               6096
El Salvador                        5320
United Kingdom                     5235
Turkey                             4292
Somalia                            4142
Nigeria                            3907
Thailand                           3849
Yemen                              3347
Spain                              3249
Sri Lanka                          3022
United States                      2836
Algeria                            2743
France                             2693
Egypt                              2479
Lebanon                            2478
Chile                              2365
Libya                              2249
West Bank and Gaza Strip           2227
Syria                              2201
Russia                             2194
Israel                             2183
Guatemala                          2050
South Africa                       2016
Nicaragua                          1970
                                  ...
Comoros                               5
Montenegro                            5
Malawi                                5
Bahamas                               5
Grenada                               5
Western Sahara                        5
Solomon Islands                       4
Iceland                               4
People's Republic of the Congo        4
Dominica                              3
Barbados                              3
French Polynesia                      3
Gambia                                3
South Yemen                           2
Seychelles                            2
Vanuatu                               2
Turkmenistan                          2
Equatorial Guinea                     2
Mauritius                             2
St. Kitts and Nevis                   2
North Korea                           1
Falkland Islands                      1
Wallis and Futuna                     1
South Vietnam                         1
Vatican City                          1
St. Lucia                             1
Andorra                               1
New Hebrides                          1
International                         1
Antigua and Barbuda                   1
Name: country_txt, dtype: int64

In [16]:
#encoded = MultiColumnLabelEncoder(columns = ['country_txt','region_txt','targtype1_txt','attacktype1_txt']).fit_transform(input)
encoded = MultiColumnLabelEncoder(columns = ['country_txt','region_txt']).fit_transform(input)

In [17]:
encoded_attacktype = encoded[['imonth','country_txt','region_txt','nkill','attacktype1_txt']]
encoded_attacktype.shape

(181691, 5)

In [18]:
encoded_attacktype.head()

   imonth  country_txt  region_txt  nkill                 attacktype1_txt
0       7           47           1    1.0                   Assassination
1       0          116           6    0.0     Hostage Taking (Kidnapping)
2       1          140           9    1.0                   Assassination
3       1           68          11    NaN               Bombing/Explosion
4       1           90           3    NaN  Facility/Infrastructure Attack

In [33]:
encoded_attacktype.to_csv('input_attacktype.csv', encoding='utf-8', index=False)

In [19]:
encoded_attacktype["attacktype1_txt"].value_counts()

Bombing/Explosion                      88255
Armed Assault                          42669
Assassination                          19312
Hostage Taking (Kidnapping)            11158
Facility/Infrastructure Attack         10356
Unknown                                 7276
Unarmed Assault                         1015
Hostage Taking (Barricade Incident)      991
Hijacking                                659
Name: attacktype1_txt, dtype: int64

In [20]:
encoded_targtype = encoded[['imonth','country_txt','region_txt','nkill','targtype1_txt']]
encoded_targtype.shape

(181691, 5)

In [21]:
encoded_targtype.to_csv('input_targtype.csv', encoding='utf-8', index=False)